body{
    padding: 14%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#disp{
    height: 40px;
    font-size: 30px;
    display: flex;
    border-radius: 10px;
    flex-direction: row-reverse;
    padding:10px;
    border: 2px solid black;
    background-color: rgba(91, 230, 184, 0.377);
}


.windo{
    
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scale: 1.5;
    border: 2px solid black;
    border-radius: 10px;
    
}
.nums{
    display: flex;
    width: 200px;
    flex-wrap:wrap;
}
#clr{
    width: 80px;
    border-radius: 20px;
    margin-block: 5px;
    

}
#ans{
    width: 115px;
    border-radius: 20px;
}
.buttons button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

